node_modules/
.env
.DS_Store
dist/
build/
package-lock.json
package.json
tailwind.config.js
postcss.config.js
npm-debug.log
.hintrc
Figma/Nav.png
Figma/Section.png
Figma/Section-1.png
Figma/Section-2.png
Figma/Section-3.png
Figma/True Golf Website.png
Figma/关于我们.png
